$sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
$light: #fff
$dark:  #333
$shade: 1px 2px 4px transparentize($dark, 0.5)
$head: 56px

html
	min-height: 100%

body
	background: linear-gradient(to bottom, #FD746C, #2C3E50) center/cover no-repeat
	margin-top: $head
	font-family: $sans
	color: $light

header
	box-shadow: $shade
	position: absolute
	top: 0
	width: 100%
	height: $head
	h1
		padding: 0 15px
		margin: 10px 0
		font-weight: normal
		small
			font-size: 60%
			margin-left: 10px

footer
	position: absolute
	bottom: 0
	width: 100%
	color: darken($light, 50%)
	p
		padding: 0 15px

a
	color: inherit

main
	max-width: 750px
	padding: 0 15px
	margin: $head * 2 auto 0
	opacity: 0
	transition: all 1s
	display: grid
	grid-template: 1fr / 1fr
	#current, #forecast
		display: flex
		justify-content: space-between
		align-items: center
	#current
		h1
			font-size: 4em
			margin: 0
		h3
			text-transform: capitalize
			font-weight: normal
			margin-top: 0
	#forecast
		text-align: center
		margin-top: 45px
		h2
			margin: 10px 0
		h4
			margin: 0
			font-weight: normal
		small
			text-transform: uppercase

.right
	float: right
	text-align: right
