footer
	p Powered by 
		a(href="http://openweathermap.org/" target="_blank" rel="noopener noreferrer") OpenWeatherMap
		| . View the 
		a(href=githubURL target="_blank" rel="noopener noreferrer") source
		| .
