footer.fadein
	p Powered by 
		a(href="https://darksky.net/" target="_blank" rel="noopener noreferrer") Dark Sky
		| .
		span.right View the 
			a(href=githubURL target="_blank" rel="noopener noreferrer") source
			| .
